body {
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16.666%;
  height: 100vh;
  background: #2d3436;
  color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.logo-sena {
  width: 80px;
  height: auto;
  clip-path: circle(50%);
}

.titulo{
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.sidebar a {
  display: block;
  padding: 8px 0;
  color: #dfe6e9;
  text-decoration: none;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #1abc9c;
  padding-left: 8px;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding-left: 15px;
}
.menu-item:hover .submenu {
  max-height: 200px;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 16.666%;
  width: 83.334%;
  z-index: 900;
  background: #28a745;
}

.main-content {
  margin-left: 16.666%;
  padding-top: 100px;
}

.encuesta-card {
  border-radius: 15px;
  transition: all 0.3s ease;
}
.encuesta-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2) !important;
}
