#logosena2 {
  clip-path: circle(50%);
  height: 4rem;
  width: 4rem;
}

body {
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16.666%;
  height: 100vh;
  background: #2d3436;
  color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.sidebar a {
  display: block;
  padding: 8px 0;
  color: #dfe6e9;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #1abc9c;
  padding-left: 8px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}

.menu-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-links {
  margin-top: auto;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 16.666%;
  width: 83.334%;
  z-index: 900;
  background: #28a745;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}

.cerrar{
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  transition: 0.3s;
  background: #2d3436;
}
