# Variables de entorno
.env

# Dependencias de Composer
/vendor/

# Logs
/storage/logs/*.log

# Cache
/storage/cache/*
!/storage/cache/.gitkeep

# Archivos temporales
/storage/exports/*
!/storage/exports/.gitkeep

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

